/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Remove Page Defaults */

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* CSS VARIABLES */

:root {
	/* Colors */
	--primary-cyan: hsl(180, 66%, 49%);
	--primary-dark-violet: hsl(257, 27%, 26%);
	--secondary-red: hsl(0, 87%, 67%);
	--neutral-grey: hsl(0, 0%, 75%);
	--neutral-greyish-violet: hsl(257, 7%, 63%);
	--neutral-dark-blue: hsl(255, 11%, 22%);
	--neutral-dark-violet: hsl(260, 8%, 14%);
	/* Typography */
	--primary-font-family: "Poppins", sans-serif;
	--primary-font-size: 18px;
}

html {
	font-size: var(--primary-font-size);
}

body {
	font-family: var(--primary-font-family);
}

/* Header Section */
header {
	min-height: 110vh;
}

/* Page Top Bar */
.app-bar {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1.2rem;
}

nav {
	display: none;
}

.register {
	display: none;
}

.app-bar > i {
	font-size: 1.4rem;
	color: var(--neutral-greyish-violet);
}

/* Hero Section */
.hero-section {
	overflow: hidden;
}

.hero-img {
	width: 135%;
	margin-left: 1.2rem;
	margin-bottom: 2.4rem;
}

.hero-section > .main-heading {
	margin-inline: 1.2rem;
	text-align: center;
}

.main-heading > h1 {
	font-weight: 700;
	font-size: 2.2rem;
	color: var(--neutral-dark-violet);
	line-height: 1.2;
	margin-bottom: 1.2rem;
}

.main-heading > p {
	color: var(--neutral-greyish-violet);
	margin-bottom: 1.2rem;
}

.main-heading > button {
	padding: 0.8rem 1.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 1.8rem;
	border: none;
	background-color: var(--primary-cyan);
	color: #fff;
}

/* URL Shortener Section */

.main-shortener {
	background-color: rgba(240, 241, 246, 255);
	padding-inline: 1.2rem;
}

.shortener-form {
	background-image: linear-gradient(
			to left,
			hsla(257, 27%, 26%, 0.9),
			hsla(257, 27%, 26%, 0.9)
		),
		url("./assets/images/bg-shorten-mobile.svg");
	padding: 1.2rem;
	border-radius: 0.8rem;
	transform: translateY(-90px);
}

.shortener-form input,
.shortener-form button {
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 0.8rem;
	border: none;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 700;
}

.shortener-form input {
	margin-top: 0.8rem;
}

.shortener-form button {
	background-color: var(--primary-cyan);
	color: #fff;
}

/* Advanced Statistics */

.advanced-statistics {
	text-align: center;
	padding-bottom: 2rem;
}

.advanced-statistics h2 {
	color: var(--neutral-dark-violet);
	margin-bottom: 1.4rem;
}

.advanced-statistics p {
	line-height: 1.6;
	color: var(--neutral-greyish-violet);
}

.advanced-statistics > p {
	margin-bottom: 6rem;
}

.advanced-statistics-items > article {
	background-color: #fff;
	margin-bottom: 6rem;
	padding: 1.2rem 0.75rem;
	border-radius: 0.5rem;
}

.advanced-statistics-items > .fully-customizable {
	margin-bottom: 3rem;
}

.brand-recognition {
	position: relative;
}

.detailed-records {
	position: relative;
}

.brand-recognition::after,
.detailed-records::after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 4rem;
	background-color: var(--primary-cyan);
}

.advanced-statistics-items > article > div {
	padding: 1rem 1.2rem;
	border: none;
	border-radius: 50%;
	display: inline-block;
	background-color: var(--primary-dark-violet);
	transform: translateY(-60px);
}

.advanced-statistics-items > article > h3 {
	margin-bottom: 1.2rem;
	color: var(--neutral-dark-violet);
}

.advanced-statistics-items > article > p {
	margin-bottom: 1.4rem;
}

/* Boost Links Section */

.boost-links {
	padding: 5rem 1.2rem;
	text-align: center;
	background-image: linear-gradient(
			to left,
			hsla(257, 27%, 26%, 0.9),
			hsla(257, 27%, 26%, 0.9)
		),
		url("./assets/images/bg-boost-mobile.svg");
}

.boost-links > div {
	width: 100%;
}

.boost-links > div > p {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1.2rem;
}

.boost-links > div > button {
	padding: 0.8rem 1.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 1.8rem;
	border: none;
	background-color: var(--primary-cyan);
	color: #fff;
}
