/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Remove Page Defaults */

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Container Wrapper */

.container {
	max-width: 1440px;
	margin: 0 auto;
}

/* CSS VARIABLES */

:root {
	/* Colors */
	--primary-cyan: hsl(180, 66%, 49%);
	--primary-dark-violet: hsl(257, 27%, 26%);
	--secondary-red: hsl(0, 87%, 67%);
	--neutral-grey: hsl(0, 0%, 75%);
	--neutral-greyish-violet: hsl(257, 7%, 63%);
	--neutral-dark-blue: hsl(255, 11%, 22%);
	--neutral-dark-violet: hsl(260, 8%, 14%);
	/* Typography */
	--primary-font-family: "Poppins", sans-serif;
	--primary-font-size: 18px;
}

html {
	font-size: var(--primary-font-size);
}

body {
	font-family: var(--primary-font-family);
}

/* Header Section */
header {
	min-height: 110vh;
}

/* Page Top Bar */
.app-bar {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 1.2rem;
	position: relative;
}

.app-bar > i {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	font-size: 1.4rem;
	color: var(--neutral-greyish-violet);
	cursor: pointer;
}

.app-bar > .toggler {
	appearance: none;
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	width: 1.4rem;
	height: 1.4rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.app-bar > .navigation {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 100%;
	left: 0;
	background-color: hsla(257, 27%, 26%, 0.7);
}

.navigation nav {
	width: 100%;
	text-align: center;
	margin-bottom: 1.4rem;
}

.navigation ul > li {
	padding: 0.5rem 0;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid transparent;
	width: 100%;
	transition: border-bottom 1s ease-in;
}

.navigation ul > li:hover {
	border-bottom: 1px solid #fff;
}

.navigation ul > li a {
	font-size: 1.4rem;
	text-decoration: none;
	color: #fff;
}

.app-bar > .navigation > nav > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.register > button {
	display: block;
	padding: 0.5rem 2.4rem;
	margin-bottom: 1.4rem;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	background-color: hsla(180, 66%, 49%, 0.7);
	border: none;
	border-radius: 1.4rem;
	cursor: pointer;
}

.register > button:first-child {
	padding-inline: 3rem;
}

.app-bar > .toggler:checked + .navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10rem;
}

/* Hero Section */
.hero-section {
	overflow: hidden;
}

.hero-img {
	width: 135%;
	margin-left: 1.2rem;
	margin-bottom: 2.4rem;
}

.hero-section > .main-heading {
	margin-inline: 1.2rem;
	text-align: center;
}

.main-heading > h1 {
	font-weight: 700;
	font-size: 2.2rem;
	color: var(--neutral-dark-violet);
	line-height: 1.2;
	margin-bottom: 1.2rem;
}

.main-heading > p {
	color: var(--neutral-greyish-violet);
	margin-bottom: 1.2rem;
}

.main-heading > button {
	padding: 0.8rem 1.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 1.8rem;
	border: none;
	background-color: var(--primary-cyan);
	color: #fff;
}

/* URL Shortener Section */

.main-shortener {
	background-color: rgba(240, 241, 246, 255);
	padding-inline: 1.2rem;
}

.shortener-form {
	background-image: linear-gradient(
			to left,
			hsla(257, 27%, 26%, 0.9),
			hsla(257, 27%, 26%, 0.9)
		),
		url("./assets/images/bg-shorten-mobile.svg");
	padding: 1.2rem;
	border-radius: 0.8rem;
	transform: translateY(-90px);
}

.shortener-form input,
.shortener-form button {
	width: 100%;
	padding: 0.8rem;
	margin-bottom: 0.8rem;
	border: none;
	border-radius: 0.4rem;
	font-size: 1rem;
	font-weight: 700;
}

.shortener-form input {
	margin-top: 0.8rem;
}

.shortener-form button {
	background-color: var(--primary-cyan);
	color: #fff;
}

.short-link-container {
	padding: 0.5rem;
	background-color: #fff;
	border-radius: 0.5rem;
	margin-bottom: 2rem;
}

.short-link-container > p {
	font-size: 1rem;
	margin: 1rem 0;
	color: var(--neutral-dark-violet);
	padding-inline: 0.5rem;
	border-bottom: 1px solid var(--neutral-dark-violet);
}

.short-link-container > p + p {
	color: var(--primary-cyan);
	border-bottom: unset;
}

.short-link-container > button {
	width: 100%;
	padding: 0.5rem 1.5rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 0.25rem;
	color: #fff;
	font-weight: 700;
	background-color: var(--primary-cyan);
	cursor: pointer;
}

/* Advanced Statistics */

.advanced-statistics {
	text-align: center;
	padding-bottom: 2rem;
}

.advanced-statistics h2 {
	color: var(--neutral-dark-violet);
	margin-bottom: 1.4rem;
}

.advanced-statistics p {
	line-height: 1.6;
	color: var(--neutral-greyish-violet);
}

.advanced-statistics > p {
	margin-bottom: 6rem;
}

.advanced-statistics-items > article {
	background-color: #fff;
	margin-bottom: 6rem;
	padding: 1.2rem 0.75rem;
	border-radius: 0.5rem;
}

.advanced-statistics-items > .fully-customizable {
	margin-bottom: 3rem;
}

.brand-recognition {
	position: relative;
}

.detailed-records {
	position: relative;
}

.brand-recognition::after,
.detailed-records::after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 4rem;
	background-color: var(--primary-cyan);
}

.advanced-statistics-items > article > div {
	padding: 1rem 1.2rem;
	border: none;
	border-radius: 50%;
	display: inline-block;
	background-color: var(--primary-dark-violet);
	transform: translateY(-60px);
}

.advanced-statistics-items > article > h3 {
	margin-bottom: 1.2rem;
	color: var(--neutral-dark-violet);
}

.advanced-statistics-items > article > p {
	margin-bottom: 1.4rem;
}

/* Boost Links Section */

.boost-links {
	padding: 5rem 1.2rem;
	text-align: center;
	background-image: linear-gradient(
			to left,
			hsla(257, 27%, 26%, 0.9),
			hsla(257, 27%, 26%, 0.9)
		),
		url("./assets/images/bg-boost-mobile.svg");
}

.boost-links > div {
	width: 100%;
}

.boost-links > div > p {
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 1.2rem;
}

.boost-links > div > button {
	padding: 0.8rem 1.8rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 1.8rem;
	border: none;
	background-color: var(--primary-cyan);
	color: #fff;
}

/* Page Footer */

footer {
	background-color: var(--neutral-dark-violet);
	text-align: center;
	padding: 2rem 0;
}

footer > div {
	margin-bottom: 2rem;
}

footer > div > a {
	display: block;
	margin-bottom: 0.8rem;
	text-decoration: none;
	color: var(--neutral-grey);
}

footer > div > h3 {
	font-size: 1rem;
	color: #fff;
	margin-bottom: 1.2rem;
}

footer > .socials > a {
	display: inline-block;
	margin: 0 0.5rem;
}

/* Landscape Mode Styles */

@media (orientation: landscape), (min-width: 760px) {
	.app-bar {
		position: unset;
		height: 12vh;
		width: 100%;
		margin-bottom: 1rem;
		padding-right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.app-bar > .logo {
		margin-top: 1rem;
	}

	.app-bar > i {
		display: none;
	}

	.app-bar > .toggler {
		display: none;
	}

	.app-bar > .navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: unset;
		height: 12vh;
		width: 100%;
		margin-left: 1rem;
		background-color: transparent;
	}

	.navigation nav {
		margin-bottom: 0;
		width: 40%;
	}

	.app-bar > .navigation > nav > ul {
		flex-direction: row;
	}

	.navigation ul > li {
		padding: 0;
		margin-bottom: 0;
	}

	.navigation ul > li a {
		font-size: 0.85rem;
		color: var(--neutral-greyish-violet);
	}

	.register {
		display: inline-flex;
		align-items: center;
		justify-content: space-evenly;
		height: 12vh;
	}

	.register > button {
		margin: 0 0.5rem;
		padding: 0.25rem 0.8rem;
		font-size: 0.8rem;
	}

	.register > button:first-child {
		padding-inline: 1.2rem;
	}

	/* Push the Shortener Section Down */

	.main-shortener {
		margin-top: 10rem;
	}
}

/* Larger Displays Styling */

@media (min-width: 760px) {
	.navigation ul > li a {
		font-size: 1rem;
		transition: color .75s ease-in;
	}

	.navigation ul > li a:hover {
		color: var(--neutral-dark-violet);
	}

	.hero-img {
		width: 120%;
	}

	.boost-links {
		background-image: linear-gradient(
				to left,
				hsla(257, 27%, 26%, 0.9),
				hsla(257, 27%, 26%, 0.9)
			),
			url("./assets/images/bg-boost-desktop.svg");
		background-repeat: no-repeat;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: space-around;
		text-align: start;
		padding: 1rem;
	}

	footer > div {
		margin-bottom: 0;
	}

	footer > .company {
		padding-top: 2rem;
	}
}

@media (min-width: 900px) {
	header {
		min-height: 70vh;
	}

	.app-bar > .logo {
		padding-left: 2.4rem;
	}

	/* Hero Section */
	.hero-section {
		width: 100%;
		display: flex;
	}

	.hero-section > div:first-child {
		order: 2;
		width: 40%;
	}

	.hero-img {
		margin-left: 0;
		margin-bottom: 0;
		width: 120%;
	}

	.hero-section > .main-heading {
		width: 60%;
		text-align: start;
		margin-right: 0;
		padding-left: 2.4rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero-section > .main-heading > button {
		align-self: flex-start;
	}

	.hero-section > .main-heading > h1 {
		font-size: 3.5rem;
	}

	.hero-section > .main-heading span {
		display: block;
	}

	/* URL Shortener Section */

	.main-shortener {
		margin-top: 0;
		padding-inline: 2.4rem;
	}

	.shortener-form {
		background-image: linear-gradient(
				to left,
				hsla(257, 27%, 26%, 0.9),
				hsla(257, 27%, 26%, 0.9)
			),
			url("./assets/images/bg-shorten-desktop.svg");
		transform: translateY(-60px);
	}

	.shortener-form > input,
	.shortener-form > button {
		display: inline-block;

		width: 79%;
	}

	.shortener-form > button {
		margin-left: 1.5rem;
		width: 15%;
	}

	.short-link-container {
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.short-link-container > p {
		width: 50%;
		font-size: 1rem;
		color: var(--neutral-dark-violet);
		border-bottom: unset;
	}

	.short-link-container > p + p {
		width: unset;
		color: var(--primary-cyan);
	}

	.short-link-container > button {
		width: unset;
		margin-bottom: unset;
	}

	/* Advanced Statistics Section */

	.advanced-statistics > p {
		margin-bottom: 0;
	}

	.advanced-statistics > p > span {
		display: block;
	}

	.advanced-statistics-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: start;
		margin-bottom: 2rem;
	}

	.advanced-statistics-items > article {
		width: 30%;
		margin-bottom: 0;
	}

	.advanced-statistics-items > .detailed-records {
		padding: 0.3rem 0.75rem;
		margin-top: 6rem;
	}

	.advanced-statistics-items > .fully-customizable {
		margin: 12rem 0 0 1.2rem;
		padding: 0.85rem 0.75rem;
	}

	.advanced-statistics-items > article > div {
		transform: translate(25px, -60px);
	}

	.brand-recognition::after,
	.detailed-records::after {
		content: "";
		display: block;
		position: absolute;
		top: 60%;
		left: 110%;
		transform: translateX(-50%);
		width: 19%;
		height: 10px;
		background-color: var(--primary-cyan);
	}

	.detailed-records::after {
		top: 43%;
	}
}

@media (min-width: 1200px) {
	header {
		min-height: 90vh;
	}

	.hero-section > .main-heading > h1 {
		font-size: 5rem;
		line-height: 1.2;
	}

	.hero-section > .main-heading > p {
		font-size: 1.4rem;
		margin: 1rem 0 2rem 0;
	}
}
